[% IF error %]
<div class="alert alert-danger" role="alert">[% error %] <a href="/upload" class="alert-link">Please try again!</a></div>
[% ELSIF complete %]
<div class="alert alert-success" role="alert">Upload complete</div>
[% END %]