<h2>Select a CGP word file below</h2>
<br>
<form method="post" enctype="multipart/form-data" action="/select_date">
    <input id="fileUpload" type="file" name="uploadedFile" />
    <br>
    <input type="submit" value="Upload" class="btn btn-primary">
</form>
